
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  .container{
    height: 98vh;
    width: 98vw;
  }
  .workingArea{
    display: grid;
    justify-content: center;
    place-content: center;
    height: 80vh;
    width: 80vw;
    box-shadow: 0 1px 10px grey;
    margin-top: 3rem;
  }
  .txtArea{
    border: none;
    height: 80vh;
    width: 80vw;
    
  }
  .export{
    margin-top: 1.2rem;
  }
 
  
</style>

<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="addParagraph($event)"><i class=" fas fa-solid fa-paragraph"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="addPoints()"> <i class="fas fa-solid fa-list"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="clearAll()"><i class="fas fa-solid fa-trash"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- TextArea -->
<div class="container">
  <div id="pdfTable" #pdfTable>
    <div class="workingArea">
      <textarea class="txtArea" placeholder="write something.."  [(ngModel)]="message" [innerText]="message"></textarea>
    </div>
  </div>
  <button class="export btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
</div>


<router-outlet></router-outlet>
